body{
  padding-top:60px;
  color:white;
}
.container{
  background:#657;
}

.jumbotron{
  border: solid rgba(102, 102, 204, 0.925) 1px;
}
.blockquote-footer{
  color:inherit;
}
footer{
  color:black;
}
.pdb{
  padding-bottom:50px;
  background: #E1D275;
}
 h1{
  color:#336581e7;
}
.title{
  color:#063048;
}

p{
  color: white;
}